<header>
  <!-- navigation bar -->
  <nav>
    <p>App name</p>
    <div>
      <a href="/auth/login">Sign in</a>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
    </div>
  </nav>
  <!-- header section -->
  <div class="row-container">
    <img id="superhero-img" src="/images/illustrations/superhero.png" alt="Hand-drawn illustration of a woman running">
    <div class="one-half-container">
      <h1>Increase your productivity,
        <br>decrease your stress.
      </h1>
      <!--
      <div id="dynamic-txt-wrapper">
        <div id="dynamic-txt">
          <span>motivation</span>
          <span>productivity</span>
          <span>positivity</span>
        </div>
      </div> -->
      <p>AppName is the first todo app that includes meditation techniques to help you be more productive.
      </p>
      <a class="btn signup-btn" href="/auth/signup">Sign up</a>
      <p>It's free.</p>
    </div>
  </div>
</header>
<main>
  <!-- features section -->
  <section class="row-container">
    <div class="one-half-container">
      <h2>Cut out the noise</h2>
      <p>Go from feeling overwhelmed, to feeling good about it.</p>
      <ul>
        <li>A clean todo list</li>
        <li>A pomodoro timer with 3 preset work-break patterns</li>
        <li>Powerful sounds curated to boost your creative work, problem solving abilities or relaxation</li>
      </ul>
    </div>
    <img id="rainbow-img" src="/images/illustrations/rainbow.png" alt="Hand-drawn illustration of a woman and a man in front of a rainbow">
  </section>
  <!-- demo section -->
  <section id="demo-section" class="col-container">
    <img src="" alt="Screenshot of appname's dasboard">
    <h2>Try it out</h2>
    <a class="btn signup-btn" href="/auth/signup">Sign up</a>
  </section>
</main>
<footer>
  <ul>
    <li>Privacy</li>
    <li>Terms</li>
  </ul>
  <p>@ 2021 App Name</p>
</footer>
