:root {
  --dark: #161616;
  --white: #EEEEEE;
  --main-blue: #5538EE;
  --light-blue: #C6C4FF;
  --main-red: #FF6D6D;
  --light-red: #FFC0C0;
  --title-font: "Rozha One";
}

/* global */
body {
  margin: 0;
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  color: var(--dark);
}

h1,
h2 {
  font-family: var(--title-font);
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

h2 {
  font-size: 40px;
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

p {
  width: 60%;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 30px;
}


/* containers */
.row-container {
  display: flex;
  justify-content: space-evenly;
}

.one-half-container {
  width: 50%;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* buttons */
.btn {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.signup-btn {
  background: var(--main-red);
}


/* sections */
header {
  background: linear-gradient(var(--main-blue), var(--white));
  color: var(--white);
}

section {
  margin-top: 40px;
}

#demo-section {
  background-color: linear-gradient(var(--light-blue), var(--light-red));
}

/* illustrations */
#superhero-img,
#rainbow-img {
  width: 40%;
}


/* text animation */
#dynamic-txt-wrapper {
  display: flex;
  box-sizing: content-box;
  height: 45px;
}

#dynamic-txt-wrapper > h2,
#dynamic-txt {
  font-family: var(--title-font);
  font-size: 30px;
  padding: 3px;
  margin: 0;
}

#dynamic-txt {
  overflow: hidden;
  color: var(--main-red);
}

#dynamic-txt > span {
  display: block;
  height: 100%;
  animation: flip 15s infinite;
  transition: translateY;
}

@keyframes flip {
  10%
  {
    transform: translateY(-112%);
  }
  25%
  {
    transform: translateY(-100%);
  }
  35%
  {
    transform: translateY(-212%);
  }
  50%
  {
    transform: translateY(-200%);
  }
  60%
  {
    transform: translateY(-312%);
  }
  75%
  {
    transform: translateY(-300%);
  }
  85%
  {
    transform: translateY(-412%);
  }
  100%
  {
    transform: translateY(-400%);
  }
}


/* auth forms */
.auth-section {
  background: linear-gradient(var(--main-blue), var(--white));
  height: 100vh;
  display: flex;
}

.auth-container {
  background: var(--white);
  margin : auto;
  padding: 10px 25px 30px;
  width: 40vh;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
text-align: center;  
color:var(--main-blue);
font-size: 170%;
}

.auth-container p {
  margin: 25px auto;
  color:var(--main-blue);
  text-align: center;
}

#oAuth-btn-g {
  margin: 10px 0;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
}

#oAuth-btn-g a {
  color: black;
  font-size: 80%;
  vertical-align: center;
}
#oAuth-btn-fb {
  margin: 10px 0;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #0067DB;
  background-color: #0067DB;
  display: flex;
  justify-content: center;
}

#oAuth-btn-fb a {
  color: var(--white);
  font-size: 80%;
  vertical-align: center;
}

#oAuth-btn-g img {
  margin: 0 10px;
  width: 16px; 
  height: 16px; 
}

#oAuth-btn-fb img {
  margin: 0 10px;
  width: 16px; 
  height: 16px; 
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-section label {
  color: black;
  font-size: 80%;
  padding: 5px 0;
}

.auth-section input {
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
}

.auth-section input:valid {
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
  border: solid 1px var(--main-blue);
  background-color: #c6c4ff3a;
}

.auth-section input:invalid {
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.1);
}

#auth-btn {
  margin: 30px auto 20px;
  padding: 10px 20px;
  background: var(--main-red);
  color: var(--white);
  border: none; 
}

.caption:hidden {
  display: none;
}

.caption {
  color: red;
  font-size: 50%;
  padding-right: 25px;
  margin-bottom: 10px;
}