<header>
  <!-- navigation bar -->
  <nav>
    <h1>App name</h1>
    <div>
      <a>Sign in</a>
      <a class="btn" id="signup-btn" href="/auth/signup">Sign up</a>
    </div>
  </nav>
  <!-- header section -->
  <div class="row-container">
    <img id="woman-illustration" src="/images/illustrations/woman-on-scooter.png" alt="3D illustration of a woman on a scooter">
    <div class="one-half-container">
      <div id="dynamic-txt-wrapper">
        <h2>Turn your tabs into</h2>
        <div id="dynamic-txt">
          <span>motivation</span>
          <span>productivity</span>
          <span>positivity</span>
          <span>a news digest</span>
          <span>a podcast player</span>
        </div>
      </div>
      <p>AppName allows you to keep everything you need in one place, so that you can focus on what matters.
        <br>No more dozens of websites.
        <br>Just one tab. That's it.
      </p>
      <!-- add to chrome button -->
      <a class="btn" id="download-btn" href="#">Add to Chrome</a>
      <img id="purple stars" src="/images/illustrations/purple-stars.png" alt="3D illustration of purple stars">
    </div>
  </div>
</header>
<main>
  <section class="row-container">
    <div>

    </div>
    <img src="/images/illustrations/man-juggling.png" alt="3D illustration of a man juggling icons">
  </section>
  <section class="row-container">
    <img src="" alt="3D illustration of a spaceship">
    <h2>Towards good mood and productivity</h2>
  </section>
  <section class="row-container">
    <img>
  </section>
</main>
