<h2>Log in</h2>
<form method="POST" action="/login">
  <label>Email:</label>
  <input type="email" name="email" placeholder="Your email">

  <label>Password:</label>
  <input type="password" name="password" placeholder="Your password">

  <button type="submit">Log in</button>
</form>