<h2>Sign up</h2>
<form method="POST" action="/signup">
  <label>First name:</label>
  <input type="text" name="firstName" placeholder="Your first name">

  <label>Email:</label>
  <input type="email" name="email" placeholder="Your email">

  <label>Password:</label>
  <input type="password" name="password" placeholder="Your password">

  <button type="submit">Sign up</button>
</form>